<p>Dear admin,</p>
<p>The following person has submitted an email through Saunderswebsolutions.com</p>
<p>Name : {{ name }}<br>
    Phone: {{ phone }}<br>
    Email: {{ email }}%<br>
    Comments:<br>
    {{ comments }}</p>
<p>Saunders Admin </p>
