<p>Dear {{ name }},
</p>
<p>Thanks for submitting your details and comments to saunderswebsolutions.com. I'll be in touch with you within a day.</p>
<p>Kind regards,</p>
<p>Kevin Saunders<br>
    Saunders Web Solutions<br>
    54 Finsbury Park Avenue<br>
    London N4 1DS<br>
    Tel: +44 (0) 020 8211 8556</p>
<p>This email is private and confidential. If you are not the intended recipient, please notify the sender immediately and delete this message. You should not copy the email or use it for any purpose or disclose its contents to any other person, to do so may be unlawful.</p>
