{% extends 'base.html.twig' %}

{% block title %}Saunders Web Solutions: Java/Spring or PHP/MySQL, Laravel,Zend Web Development{% endblock %}

{% block body %}
    <section class="clearfix">
        <h1>Saunders Web Solutions: Java/Spring or PHP/MySQL, Laravel,Zend Web Development</h1>
    </section>

    <section>
        <h3>Web Development</h3>

        <p><strong>Saunders Web Solutions</strong> is a web development consultancy
            providing solutions in PHP or Java for small to medium sized businesses. </p>

        <p>I've been a web developer for the last 14 years and I've delivered over 60 sites.
            I have a track record of delivering over 60 large and small projects since 2001.
            I've solved complex and interesting problems for my clients with the code skills that I've built up through continuous learning.</p>
        <p>I started out with pure Java and PHP and even developed my own frameworks for a while.
            Then, with the advent of advanced full stack frameworks in Java and PHP I moved across to these open source frameworks.
            I've developed sites in the <a href="/portfolio/spring">Spring</a> framework for <a href="/portfolio/java">Java</a> and <a href="/portfolio/laravel">Laravel</a>,
            Codeigniter and <a href="/portfolio/zend">Zend</a> frameworks for <a href="/portfolio/php">PHP</a></p>
        <p>I've worked hard at developing good client relationships and have been lucky enough to work on some very interesting and advanced multi-media projects. </p>

    </section>

    <section>

    </section>


{% endblock %}

{% block stylesheets %}
<style>

</style>
{% endblock %}
